SmartGardenFlow.json
[
    {
        "id": "88de1fbc.bf4af",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "496868c1.5496b8",
        "type": "subflow",
        "name": "Shutdown/Reboot",
        "info": "",
        "in": [
            {
                "x": 53,
                "y": 99,
                "wires": [
                    {
                        "id": "b1977423.bfb72"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "c6bde387.25f2d",
        "type": "group",
        "z": "88de1fbc.bf4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6697dc8f.54fee4",
            "29116f85.857a1",
            "396ca260.55320e",
            "ef2b15fd.f5fc38",
            "75b3d28b.d2155c",
            "82cc3838.1f8978",
            "8f12b449.01a4f8",
            "6e0b7426.64ddbc",
            "d91a7194.a5c42",
            "ce4eff2f.55d1",
            "61a92f07.c9937",
            "c6c0ff9d.bd01b",
            "9c0cc8fa.2b4eb8",
            "5e36f2de.1f084c",
            "32916d0c.e3be42",
            "eea72b60.33dcd8",
            "c9bf842c.6dea68",
            "b48498c.dc8c368",
            "8bc42d0f.848",
            "280b2f37.ba3f1",
            "7ecbc747.3a51f8",
            "fd905aed.921098",
            "a0863582.204a98",
            "595c172a.2cbd68",
            "c528a41b.de4ec8",
            "c8f81fc.efe00e",
            "9683277e.d3fb18",
            "a015582.4b9e2a8",
            "6b4383e3.68b4cc",
            "a649ab83.eb23d8",
            "d818022a.4c81c",
            "8f9b2a7a.f47c28",
            "ba525e1b.cdca",
            "2be8ca3d.176056",
            "6c0ff0a9.ba5bc",
            "25d47ac9.0f0bd6",
            "c85460a.153f7a"
        ],
        "x": 34,
        "y": -21,
        "w": 1732,
        "h": 642
    },
    {
        "id": "d3dffb9d.9b8bf8",
        "type": "group",
        "z": "88de1fbc.bf4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a13dc1a4.73ea4",
            "d4519db2.659bc",
            "6ebd5644.64ec08",
            "8ad66b07.b2d078",
            "ffd4f227.88866",
            "b988e45c.ffab18",
            "e058ab1d.3dfbe8",
            "16f495e.124786a",
            "846d944b.44fe88",
            "ef45536e.98aea",
            "b7b11c6e.2b936",
            "186d56b5.2d7519",
            "d449e8f7.57a198",
            "9a292173.3c727",
            "fea6fa5f.91ce68",
            "76ed5425.4e8d8c"
        ],
        "x": 274,
        "y": 1111.5,
        "w": 882,
        "h": 437
    },
    {
        "id": "d9cb4727.b82198",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4985c5bb.d02bcc",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "soil",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9623840e.b4f368",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "Soil_Moisture",
        "name": "moisture%",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "8d9518a7.c87068",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "TEST",
        "name": "test",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9eecbf2f.7dd67",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "TEMPERATURE",
        "name": "Temperature",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "cd48327d.58605",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2a838ff8.09b97",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "eef6080e.504a68",
        "type": "ui_group",
        "name": "Default",
        "tab": "cd48327d.58605",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "39fd61f4.9fecd6",
        "type": "ui_group",
        "name": "Default",
        "tab": "b6c6f589.8e06a",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "b6c6f589.8e06a",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "373fa459.54e07c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "HUMIDITY",
        "name": "Humidity",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "5c3a4e27.a99f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.203",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd2c0077.ed668",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "Fishbone_Prayer",
        "name": "Fishbone Prayer",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "5df44303.9cddcc",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "Boston_Fern",
        "name": "Boston Fern",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "c7c2b02.18c9e5",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "Devils_Ivy",
        "name": "Devil's Ivy",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "65402570.d32dac",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "ROOM_PLANT",
        "name": "Room plant moisture",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "7b37722f.817dec",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "ROOM_HUM",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "f10c7e08.92148",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "ROOM_TEMP",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6697dc8f.54fee4",
        "type": "serial in",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Arduino",
        "serial": "d9cb4727.b82198",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "75b3d28b.d2155c",
                "82cc3838.1f8978",
                "d91a7194.a5c42",
                "c9bf842c.6dea68",
                "b48498c.dc8c368",
                "8bc42d0f.848"
            ]
        ]
    },
    {
        "id": "29116f85.857a1",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "396ca260.55320e",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "influxdb": "9623840e.b4f368",
        "name": "Moisture",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "ef2b15fd.f5fc38",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 40,
        "wires": [
            [
                "9c0cc8fa.2b4eb8",
                "29116f85.857a1"
            ]
        ]
    },
    {
        "id": "c4d5a3aa.8911f",
        "type": "ui_toast",
        "z": "496868c1.5496b8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "topic": "",
        "name": "confirm",
        "x": 422,
        "y": 107,
        "wires": [
            [
                "f05be770.20c318"
            ]
        ]
    },
    {
        "id": "b1977423.bfb72",
        "type": "function",
        "z": "496868c1.5496b8",
        "name": "Prepare confirmation",
        "func": "/* Given a payload containing \n * host: string containing host name or ip\n * user: user name to use to ssh into the host\n * description: optional string conatining description of host\n * reboot: optional true/false flag to indicate whether to reboot (true) or shutdown\n * defaults to shutdown\n * formats the data ready to be passed to notification node for OK/Cancel\n*/\nvar mode;       // mode for user display\nvar shMode;     // mode passed to shutdown\n\nif (msg.payload.reboot === true) {\n    mode = \"reboot\";\n    shMode = \"-r\";\n} else {\n    mode = \"shutdown\";\n    shMode = \"-h\";\n}\n// these will be passed through the notification node\nmsg.shMode = shMode;\nmsg.host = msg.payload.host;\nmsg.user = msg.payload.user;\n\nmsg.topic = \"Confirm \" + mode + \" \" + msg.payload.host;\nmsg.payload = msg.payload.description;    // may be undefined\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 227,
        "y": 107,
        "wires": [
            [
                "c4d5a3aa.8911f"
            ]
        ]
    },
    {
        "id": "f05be770.20c318",
        "type": "switch",
        "z": "496868c1.5496b8",
        "name": "Ignore Cancel",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 589,
        "y": 106,
        "wires": [
            [
                "a130c70f.b2d588"
            ]
        ]
    },
    {
        "id": "a130c70f.b2d588",
        "type": "change",
        "z": "496868c1.5496b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'ssh ' & user & '@' & host & \t\" 'sudo shutdown \" & shMode & \" now'\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 257,
        "y": 188,
        "wires": [
            [
                "e69fe87a.3dceb8"
            ]
        ]
    },
    {
        "id": "e69fe87a.3dceb8",
        "type": "exec",
        "z": "496868c1.5496b8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "20",
        "oldrc": false,
        "name": "Shutdown/Reboot",
        "x": 513,
        "y": 188.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a13dc1a4.73ea4",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 790,
        "y": 1160,
        "wires": [
            [
                "8ad66b07.b2d078"
            ],
            [],
            []
        ]
    },
    {
        "id": "d4519db2.659bc",
        "type": "amazon-echo-device",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "Garden reboot",
        "topic": "",
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "a13dc1a4.73ea4"
            ]
        ]
    },
    {
        "id": "6ebd5644.64ec08",
        "type": "amazon-echo-hub",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "port": "8980",
        "processinput": 0,
        "discovery": true,
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "d4519db2.659bc",
                "ffd4f227.88866",
                "ef45536e.98aea",
                "b7b11c6e.2b936",
                "186d56b5.2d7519",
                "d449e8f7.57a198"
            ]
        ]
    },
    {
        "id": "8ad66b07.b2d078",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1160,
        "wires": []
    },
    {
        "id": "75b3d28b.d2155c",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Humidity",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "%",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "ef2b15fd.f5fc38"
            ]
        ]
    },
    {
        "id": "82cc3838.1f8978",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Temperature",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "*C",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "8f12b449.01a4f8"
            ]
        ]
    },
    {
        "id": "8f12b449.01a4f8",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 180,
        "wires": [
            [
                "c6c0ff9d.bd01b",
                "6e0b7426.64ddbc"
            ]
        ]
    },
    {
        "id": "6e0b7426.64ddbc",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "d91a7194.a5c42",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Moisture Lilly",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "a",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ce4eff2f.55d1"
            ]
        ]
    },
    {
        "id": "ce4eff2f.55d1",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "396ca260.55320e",
                "5e36f2de.1f084c",
                "c528a41b.de4ec8"
            ]
        ]
    },
    {
        "id": "61a92f07.c9937",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "c6c0ff9d.bd01b",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "influxdb": "9eecbf2f.7dd67",
        "name": "Temperature",
        "measurement": "*C",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "9c0cc8fa.2b4eb8",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "influxdb": "373fa459.54e07c",
        "name": "Humidity",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1000,
        "y": 20,
        "wires": []
    },
    {
        "id": "ffd4f227.88866",
        "type": "amazon-echo-device",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "garden update",
        "topic": "",
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "b988e45c.ffab18"
            ]
        ]
    },
    {
        "id": "b988e45c.ffab18",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "command": "./update.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 790,
        "y": 1220,
        "wires": [
            [
                "e058ab1d.3dfbe8"
            ],
            [],
            []
        ]
    },
    {
        "id": "e058ab1d.3dfbe8",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1220,
        "wires": []
    },
    {
        "id": "16f495e.124786a",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "command": "sudo python pump.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 860,
        "y": 1280,
        "wires": [
            [
                "846d944b.44fe88"
            ],
            [],
            []
        ]
    },
    {
        "id": "846d944b.44fe88",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ef45536e.98aea",
        "type": "amazon-echo-device",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "Peace Lily Water",
        "topic": "",
        "x": 640,
        "y": 1280,
        "wires": [
            [
                "16f495e.124786a"
            ]
        ]
    },
    {
        "id": "5e36f2de.1f084c",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "eea72b60.33dcd8"
            ]
        ]
    },
    {
        "id": "32916d0c.e3be42",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "command": "sudo python pump.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1600,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "eea72b60.33dcd8",
        "type": "delay",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1380,
        "y": 260,
        "wires": [
            [
                "32916d0c.e3be42"
            ]
        ]
    },
    {
        "id": "c9bf842c.6dea68",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Moisture Fishbone",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "b",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "280b2f37.ba3f1"
            ]
        ]
    },
    {
        "id": "b48498c.dc8c368",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Moisture Fern",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "d",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "7ecbc747.3a51f8"
            ]
        ]
    },
    {
        "id": "8bc42d0f.848",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "Moisture Ivy",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "e",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "fd905aed.921098"
            ]
        ]
    },
    {
        "id": "280b2f37.ba3f1",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 320,
        "wires": [
            [
                "a0863582.204a98",
                "c8f81fc.efe00e",
                "6b4383e3.68b4cc"
            ]
        ]
    },
    {
        "id": "7ecbc747.3a51f8",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 400,
        "wires": [
            [
                "61a92f07.c9937",
                "9683277e.d3fb18",
                "a649ab83.eb23d8"
            ]
        ]
    },
    {
        "id": "fd905aed.921098",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "595c172a.2cbd68",
                "a015582.4b9e2a8",
                "d818022a.4c81c"
            ]
        ]
    },
    {
        "id": "a0863582.204a98",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "595c172a.2cbd68",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "c528a41b.de4ec8",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "c8f81fc.efe00e",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "influxdb": "fd2c0077.ed668",
        "name": "Fishbone Prayer",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1000,
        "y": 300,
        "wires": []
    },
    {
        "id": "9683277e.d3fb18",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "influxdb": "5df44303.9cddcc",
        "name": "Boston Fern",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "a015582.4b9e2a8",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "influxdb": "c7c2b02.18c9e5",
        "name": "Devil's Ivy",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "6b4383e3.68b4cc",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 340,
        "wires": [
            [
                "8f9b2a7a.f47c28"
            ]
        ]
    },
    {
        "id": "a649ab83.eb23d8",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 440,
        "wires": [
            [
                "ba525e1b.cdca"
            ]
        ]
    },
    {
        "id": "d818022a.4c81c",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 560,
        "wires": [
            [
                "2be8ca3d.176056"
            ]
        ]
    },
    {
        "id": "8f9b2a7a.f47c28",
        "type": "delay",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1410,
        "y": 360,
        "wires": [
            [
                "6c0ff0a9.ba5bc"
            ]
        ]
    },
    {
        "id": "ba525e1b.cdca",
        "type": "delay",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1400,
        "y": 440,
        "wires": [
            [
                "25d47ac9.0f0bd6"
            ]
        ]
    },
    {
        "id": "2be8ca3d.176056",
        "type": "delay",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1400,
        "y": 560,
        "wires": [
            [
                "c85460a.153f7a"
            ]
        ]
    },
    {
        "id": "6c0ff0a9.ba5bc",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "command": "sudo python pump1.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1620,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "25d47ac9.0f0bd6",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "command": "sudo python pump2.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1620,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c85460a.153f7a",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "c6bde387.25f2d",
        "command": "sudo python pump 3.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1630,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b7b11c6e.2b936",
        "type": "amazon-echo-device",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "Fishbone water",
        "topic": "",
        "x": 640,
        "y": 1360,
        "wires": [
            [
                "9a292173.3c727"
            ]
        ]
    },
    {
        "id": "186d56b5.2d7519",
        "type": "amazon-echo-device",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "Fern Water",
        "topic": "",
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "fea6fa5f.91ce68"
            ]
        ]
    },
    {
        "id": "d449e8f7.57a198",
        "type": "amazon-echo-device",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "name": "Ivy Water",
        "topic": "",
        "x": 640,
        "y": 1480,
        "wires": [
            [
                "76ed5425.4e8d8c"
            ]
        ]
    },
    {
        "id": "9a292173.3c727",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "command": "sudo python pump1.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 920,
        "y": 1360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fea6fa5f.91ce68",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "command": "sudo python pump2.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 940,
        "y": 1420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "76ed5425.4e8d8c",
        "type": "exec",
        "z": "88de1fbc.bf4af",
        "g": "d3dffb9d.9b8bf8",
        "command": "sudo python pump3.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 950,
        "y": 1500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "98203972.cbe168",
        "type": "mqtt in",
        "z": "88de1fbc.bf4af",
        "name": "",
        "topic": "room/soil",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "e3aedcdc.35d17"
            ]
        ]
    },
    {
        "id": "e54f650a.a5def8",
        "type": "mqtt in",
        "z": "88de1fbc.bf4af",
        "name": "",
        "topic": "room/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "67fbcec4.d1dae"
            ]
        ]
    },
    {
        "id": "648ea434.5efedc",
        "type": "mqtt in",
        "z": "88de1fbc.bf4af",
        "name": "",
        "topic": "room/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "a9a0085c.4110d8"
            ]
        ]
    },
    {
        "id": "2604ba7f.bd24d6",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "d455149e.05fa38",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 760,
        "wires": []
    },
    {
        "id": "45c2057c.be695c",
        "type": "debug",
        "z": "88de1fbc.bf4af",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 840,
        "wires": []
    },
    {
        "id": "e3aedcdc.35d17",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 680,
        "wires": [
            [
                "2604ba7f.bd24d6",
                "fee87019.f7003",
                "3e5fe671.10b88a"
            ]
        ]
    },
    {
        "id": "67fbcec4.d1dae",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "d455149e.05fa38",
                "4b74ce7d.e2063",
                "5f46fcb0.e041d4"
            ]
        ]
    },
    {
        "id": "a9a0085c.4110d8",
        "type": "function",
        "z": "88de1fbc.bf4af",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 840,
        "wires": [
            [
                "45c2057c.be695c",
                "ae3da6cc.392c48"
            ]
        ]
    },
    {
        "id": "4b74ce7d.e2063",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "influxdb": "7b37722f.817dec",
        "name": "",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "ae3da6cc.392c48",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "influxdb": "f10c7e08.92148",
        "name": "",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "fee87019.f7003",
        "type": "influxdb out",
        "z": "88de1fbc.bf4af",
        "influxdb": "65402570.d32dac",
        "name": "",
        "measurement": "moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "70245dd2.fa97c4",
        "type": "alexa-notifyme",
        "z": "88de1fbc.bf4af",
        "name": "Bedroom Humidity warning",
        "notification": "Bedroom humidity is high",
        "x": 1200,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5f46fcb0.e041d4",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1000,
        "y": 820,
        "wires": [
            [
                "70245dd2.fa97c4"
            ]
        ]
    },
    {
        "id": "8901508f.fefa8",
        "type": "inject",
        "z": "88de1fbc.bf4af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 920,
        "wires": [
            [
                "70245dd2.fa97c4"
            ]
        ]
    },
    {
        "id": "d61ceb89.e64648",
        "type": "alexa-notifyme",
        "z": "88de1fbc.bf4af",
        "name": "bedroom plant moisture warn",
        "notification": "Bedroom plant moisture, low",
        "x": 1080,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3e5fe671.10b88a",
        "type": "switch",
        "z": "88de1fbc.bf4af",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "59",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 660,
        "wires": [
            [
                "d61ceb89.e64648"
            ]
        ]
    },
    {
        "id": "c1a4580e.af5c08",
        "type": "inject",
        "z": "88de1fbc.bf4af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "d61ceb89.e64648"
            ]
        ]
    }
]
